<a href="https://colab.research.google.com/github/amanbucha/Portfolio-Optimisation/blob/main/Aman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance
!pip install yahoofinancials
!pip install matplotlib

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: yahoofinancials in /usr/local/lib/python3.7/dist-packages (1.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2018.9)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import yfinance as yf

stocks = ['AAPL','AMZN','MSFT','GOOG']
data=pd.DataFrame()
for stock in stocks :
  data[stock] = yf.download( stock , start='2019-01-01',  end='2019-12-31')['Adj Close']

data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 AAPL         AMZN       MSFT         GOOG
Date
2019-01-02  38.382225  1539.130005  97.961327  1045.849976
2019-01-03  34.559078  1500.280029  94.357521  1016.059998
2019-01-04  36.034378  1575.390015  98.746017  1070.709961
2019-01-07  35.954166  1629.510010  98.871964  1068.390015
2019-01-08  36.639572  1656.579956  99.588844  1076.280029

In [ ]:
returns = data.pct_change()
cov_matrix = returns.cov()

num_portfolios = 2500
results = np.zeros((4+len(stocks)-1,num_portfolios))

portfolio_return=0
portfolio_std_dev=0

In [ ]:
for i in range(num_portfolios):
  weights = np.array(np.random.random(4))
  weights /= np.sum(weights)    
  portfolio_return = np.sum(returns.mean() * weights) * 252
  portfolio_std_dev = np.sqrt(np.dot(weights.T,np.dot(cov_matrix, weights))) * np.sqrt(252)
  results[0,i] = portfolio_return
  results[1,i] = portfolio_std_dev
  results[2,i] = results[0,i] / results[1,i]
  for j in range(len(weights)):
    results[j+3,i] = weights[j]

results_frame = pd.DataFrame(results.T,columns=['ret','stdev','sharpe',stocks[0],stocks[1],stocks[2],stocks[3]])

max_sharpe_port = results_frame.iloc[results_frame['sharpe'].idxmax()]
min_vol_port = results_frame.iloc[results_frame['stdev'].idxmin()]

In [ ]:
print(max_sharpe_port)

ret       0.551504
stdev     0.204325
sharpe    2.699156
AAPL      0.453462
AMZN      0.014616
MSFT      0.478024
GOOG      0.053899
Name: 460, dtype: float64

In [ ]:
print(min_vol_port)

ret       0.409871
stdev     0.190661
sharpe    2.149737
AAPL      0.055901
AMZN      0.168068
MSFT      0.596750
GOOG      0.179281
Name: 1117, dtype: float64

In [ ]:
datanew=pd.DataFrame()
for stock in stocks :
  datanew[stock] = yf.download( stock , start='2020-01-01',  end='2020-12-31')['Adj Close']

datanew.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 AAPL         AMZN        MSFT         GOOG
Date
2020-01-02  74.096451  1898.010010  157.903458  1367.369995
2020-01-03  73.376099  1874.969971  155.937302  1360.660034
2020-01-06  73.960777  1902.880005  156.340347  1394.209961
2020-01-07  73.612923  1906.859985  154.914886  1393.339966
2020-01-08  74.797089  1891.969971  157.382446  1404.319946

In [ ]:
returnsnew = datanew.pct_change()

weights_new = np.array([max_sharpe_port[3],max_sharpe_port[4],max_sharpe_port[5],max_sharpe_port[6]])


portfolio_return_new = np.sum(returnsnew.mean() * weights_new) * 252

print ('Using our moodel, we calculate the return for the max sharpe portfolio for the next year. Return=', portfolio_return_new)

print('Accuracy=', 100*(1-abs(1-(portfolio_return_new/max_sharpe_port[0])) ), '%')

Using our moodel, we calculate the return for the max sharpe portfolio. Return= 0.5486514268608546
Accuracy= 99.48279958900952 %

In [ ]:

weights_newer = np.array([min_vol_port[3],min_vol_port[4],min_vol_port[5],min_vol_port[6]])


portfolio_return_newer = np.sum(returnsnew.mean() * weights_newer) * 252

print ('Using our moodel, we calculate the return for the min vol portfolio for the next year. Return=', portfolio_return_newer)

print('Accuracy=', 100*( 1- abs(1-portfolio_return_newer/min_vol_port[0]) ), '%')

Using our moodel, we calculate the return for the min vol portfolio. Return= 0.4637346219483037
Accuracy= 87.06986350782753 %